[submodule "stacks/Infrastructure"]
	path = stacks/Infrastructure
	url = https://github.com/ChrisonSimtian/Homelab.Stacks.Infrastructure.git
[submodule "stacks/Komodo"]
	path = stacks/Komodo
	url = https://github.com/ChrisonSimtian/Homelab.Stacks.Komodo.git
[submodule "stacks/DevOps"]
	path = stacks/DevOps
	url = https://github.com/ChrisonSimtian/Homelab.Stacks.DevOps.git
[submodule "stacks/ErpForFactoryGames"]
	path = stacks/ErpForFactoryGames
	url = https://github.com/ChrisonSimtian/Homelab.Stacks.ErpForFactoryGames.git
[submodule "vendor/ProxmoxSharp"]
	path = vendor/ProxmoxSharp
	url = https://github.com/ChrisonSimtian/ProxmoxSharp.git
[submodule "vendor/UnifiSharp"]
	path = vendor/UnifiSharp
	url = https://github.com/ChrisonSimtian/UnifiSharp.git
[submodule "vendor/SynoSharp"]
	path = vendor/SynoSharp
	url = https://github.com/chrison-dev/SynoSharp.git
