[submodule "stacks/Komodo"]
	path = stacks/Komodo
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.Komodo.git
[submodule "stacks/DevOps"]
	path = stacks/DevOps
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.DevOps.git
[submodule "stacks/ErpForFactoryGames"]
	path = stacks/ErpForFactoryGames
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.ErpForFactoryGames.git
[submodule "vendor/ProxmoxSharp"]
	path = vendor/ProxmoxSharp
	url = https://github.com/Chrison-dev/ProxmoxSharp.git
[submodule "vendor/UnifiSharp"]
	path = vendor/UnifiSharp
	url = https://github.com/Chrison-dev/UnifiSharp.git
[submodule "vendor/SynoSharp"]
	path = vendor/SynoSharp
	url = https://github.com/Chrison-dev/SynoSharp.git
[submodule "stacks/Azure"]
	path = stacks/Azure
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.Azure.git
[submodule "stacks/SmartHome"]
	path = stacks/SmartHome
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.SmartHome.git
[submodule "stacks/BuildLab"]
	path = stacks/BuildLab
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.BuildLab.git
[submodule "stacks/Media"]
	path = stacks/Media
	url = https://github.com/Chrison-Homelab/Homelab.Stacks.Media.git
	branch = main
